{% extends "base.html" %}
{% load i18n %}
{% load allauth account socialaccount %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="row">
    <div class="col-md-6 mt-3 offset-md-3 sign-up">
        {% element h1 %}
            <h3>{% trans "Sign In" %}</h3>
        {% endelement %}
        <p>
            {% blocktrans %}Welcome to drift news, to comment on articles 
            please log in. If you do not have an account, please
        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}
        </p>
        {% url 'account_login' as login_url %}
        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
                    {% trans "Sign In" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        </div>
    </div>
    {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
{% endblock content %}
