@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');


 body {
    font-family: 'prompt', sans-serif;
    background-color: #b4d2e77a;
    
}

.navbar-brand, .nav-item, footer {
    font-family: 'rubik glitch', sans-serif;
    
}

.top-jumbatron {
    background-color:#94c5cc9d;
    height: 600px;
}

span.helptext a {
    display: none;
}

.navbar-nav {
    margin-right: 30px;
}

.sign-up {
    background-color: #94c5cc9d;
    border-radius: 5px;
    text-align:justify;
    border: 2px solid;
}

button {
    margin-bottom: 10px;
    background-color:aliceblue;
    border-radius: 5px;
    border: 1px solid;
}

input {
    border-radius: 5px;
    border: 1px solid;
}

.navbar-brand {
    font-size: 50px;
}

.nav-link {
    font-size: 20px;
}

.jum-color {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.code-institute {
    font-family: 'prompt', sans-serif;
    color: #ffffff;
}


footer {
    background-color: #a1a6b473;
}

.navbar {
    background-color: #a1a6b473;
}

.article-image {
    width: 100%;
    margin-top: 1rem;
}

.masthead-text {
    margin-top: 1rem;
}

.card-color {
    background-color: #f8f8f8;
    
}

.inline {
    display: inline;
}

/* For small screen sizes from 350px wide and down */

@media screen and (max-width: 350px) {
    .fa-flag-checkered {
        display: none;
    }
}