@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');


.navbar-brand, .nav-item {
    font-family: 'rubik glitch', sans-serif;
    
}

span.helptext a {
    display: none;
}

.navbar-nav {
    margin-right: 30px;
}

.sign_up {
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 5px;
}

button {
    margin-bottom: 10px;
    background-color:aliceblue;
    border-radius: 5px;
    border: 1px solid;
}

input {
    border-radius: 5px;
    border: 1px solid;
}

.navbar-brand {
    font-size: 50px;
}

.nav-link {
    font-size: 20px;
}

.jum-color {
    background-color: darkgray;
    text-align: center;
    height: 400px;
}

