{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center row mt-5">
        <div class="col-md-6 mt-3 offset-md-3">
            <a href="{% url 'home' %}" class="btn btn-outline-success btn-lg">Back to homepage</a>
        </div>
    </div>
    <div class="row justify-content-center mt-3 mb-5">
        <div class="col-md-5 col-sm-12">
            <h3>Update your comment:</h3>
            <p>Editing as: {{ user.username }}</p>
            <form action= "{% url 'comment_edit' comment.id %}" method="post" style="margin-top: 1.3em;">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-outline-success btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}